.box {
    width: 100%;
    min-height: 50vh;
    padding: 20px;
    margin: 0px;
    display: flex;
    flex-direction: row;

    &__element {
        width: 20vw;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid red;

        &__element {
            width: 100%;
            padding: 5px 15px;

            &__element_body {
                padding: 5px 15px;
            }
        }
    }
}