.nav__bar {
    display: flex;
    align-items: center;

    &--left {
        justify-content: flex-start;
        flex-grow: 1;
    }

    &--logo {
        display: flex;
        flex-grow: 1;
        background-color: $color-white;
        margin: 0;
        margin-left: 2rem;
        width: 4rem;
    }
    
    &--right {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        width: 70%;

    }

    &--link {
        justify-content: space-between;
        align-content: center;
        flex-grow: 1;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        background-color: $color-gray;
        font-size: 1em;
        padding: 1.4rem;
    }

    &--link:hover {
        background-color: $color-green;
        color: $color-darkgray;
    }
    
}