html, body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }

h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 8vh;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 3px 3px #FF0000;
}

h2 {
    font-family: 'Roboto Slab' sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
}

h2:nth-child(3) {
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

h2:nth-child(5) {
    text-align: right;
}


p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align:center;
}

p:nth-child(4) {
    font-style: italic;
}

p:nth-child(6) {
    line-height: 1,8;
    text-align: justify;
    text-indent: 40px;
 
}

p:nth-child(7) {
    text-decoration: line-through wavy;
}