* {
    box-sizing: border-box;

}

html, body {
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

nav {
    background-color: #515151;
    padding: 20px;
    text-align: center;

}

nav a {
    color: #ffffff;
    margin: 0 20px;

}

main {
    margin: 100px 15%;

}

main img {
    width: 450px;
    vertical-align: middle;

}

main div {
    display: inline-block;
    max-width: 450px;
    margin-left: 100px;
    vertical-align: middle;

}

main a, footer a {
    display: block;
    width: 300px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: #f88e37;
    margin: 30px auto;
    padding: 10px 2%;
}

footer {
    color: #ffffff;
    background-color: #212121;
    text-align: center;
    padding: 30px;
}

