* {
    box-sizing: border-box;
}

html {
    font-family: 'PT Sans', sans-serif;
}

body {
    margin: 0 auto;
    background: transparent url('../img/got-bg.jpg') no-repeat center / cover scroll;
    height: 100vh;
    display: flex;
}

main {
    display: flex;
    flex-grow: 1;
    color: white;
    justify-content: space-between;
    padding: 4em;
    background-color: rgba($color: black, $alpha: 0.5);

    h1 {
        align-self: flex-end;
        margin: 0;
        font-size: 3em;
    }

    .tagline {
        font-size: 2em;
        text-align: right;
    }

}